  .lgbutton {
    float: right;
    color: white;
  }

  .lgbox>input {
    display: none;
  }

  .lgbox>input~* {
    overflow: hidden;
    max-height: 0;
    opacity: 0
  }

  .lgbox .overlay {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    margin: 0;
    border-radius: 0;
    background: rgba(17, 17, 17, 0.6);
    transition: all 0.3s;
    z-index: 100000;
    filter:blur(5px);
  }

  .lgbox .overlay~* {
    border: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0.2, 0.2);
    z-index: 1000000;
    transition: all .3s ease;
  }

  .lgmain {
    background: rgba(255,255,255, 0.57);
    padding: 25px;
    border-radius: 15px;
  }

  .lgbox>input:checked~* {
    display: block;
    opacity: 1;
    max-height: 10000px;
  }

  .lgbox>input:checked~.overlay~* {
    max-height: 90%;
    overflow: auto;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1, 1);
    transform: translateX(-50%) translateY(-50%) scale(1, 1);
  }

  .input_outer:focus {
    background: #fff;
    border-color: #20a0ff;
    -webkit-box-shadow: 0 0 0 3px rgba(32,160,255,.2)!important;
    box-shadow: 0 0 0 3px rgba(32,160,255,.2)!important;
    -webkit-transition: .25s;
    transition: .25s;
}
.input_outer{
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	border: rgba(0, 0, 0, 0.57) 1px solid !important;
	background: #ffffffe6;
}
.input_outer:focus{
    background: #ffffff;
}
.text{
	width: -webkit-fill-available;
	height: 44px;
	outline: none;
	display: inline-block;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	margin-left: 50px;
	border: none;
	background: none;
	line-height: 46px;
	color: #042842 !important;
	margin-bottom: 30px;
    border-radius: 50px;
}
.lgform{
	width: 485px;
  height: auto;
}